.settings/
astrolabe/model/
caa-1.17/*
!caa-1.17/Makefile
!caa-1.17/README
!caa-1.17/jdep.sh
castor-0.9.6/
commons-cli-1.0/
commons-logging-1.0.5/
doc/vsop87/
doc/6049_bound_18.dat
doc/6049_bound_20.dat
doc/6049_constell.pdf
doc/Blocks-4.1.0.txt
jakarta-oro-2.0.8/
jts-1.8.0/
xerces-2_5_0/
.cdtproject
.classpath
.depend
.project
.umlproject
preferences.dtd
*.class
