.settings/
astrolabe/model/
caa-1.17/*
!caa-1.17/Makefile
!caa-1.17/README
!caa-1.17/jdep.sh
lib/cat/1239/ReadMe
lib/cat/1239/*.gz
lib/cat/1239/cdrom/docs/
lib/cat/1239/cdrom/src/
lib/cat/1239/cdrom/tables/*
!lib/cat/1239/cdrom/tables/prepCompositeIdent.sh
!lib/cat/1239/cdrom/tables/prepSelectTemplate.sh
!lib/cat/1239/cdrom/tables/selectADC1259HTemplate.xml
!lib/cat/1239/cdrom/tables/selectADC5050Template.xml
lib/cat/5050/*
!lib/cat/5050/prep.sh
lib/cat/5109/*
!lib/cat/5109/prep.sh
lib/cat/6049/
lib/cat/7118/
lib/cat/7237/*
!lib/cat/7237/prep.sh
!lib/cat/7237/prepCSV.sh
lib/vsop87/
Blocks-4.1.0.txt
.classpath
.project
Justv2.ttf
Justv22.ttf
Justv22i.ttf
Justv2i.ttf
mapper.js
preferences.dtd
*.class
*.jar
