.settings/
astrolabe/model/
caa-1.17/*
!caa-1.17/Makefile
!caa-1.17/README
!caa-1.17/jdep.sh
castor-0.9.6/
commons-cli-1.0/
commons-logging-1.0.5/
doc/
lib/cat/1239/*
!lib/cat/1239/prep.sh
lib/cat/5050/*
!lib/cat/5050/prep.sh
lib/cat/6049/
lib/cat/7118/
lib/vsop87/
lib/Blocks-4.1.0.txt
jakarta-oro-2.0.8/
jts-1.8.0/
xerces-2_5_0/
.cdtproject
.classpath
.depend
.project
.umlproject
Justv2.ttf
Justv22.ttf
Justv22i.ttf
Justv2i.ttf
preferences.dtd
*.class
