body {
	background-image: url("wallpaper-1600x1200.png") ;
	background-repeat: no-repeat ;
	background-position: top center ;
	background-attachment: scroll ;
	
}

#main {
	display: block ;
	position: absolut ;
	margin-left: auto ;
	margin-right: auto ;
	padding-left: 3.6% ;
	width: 960px ;
}

#space-above {
	overflow: hidden ;
	height: 64px ;
}

#space-below {
}

#chart {
	overflow: hidden ;
	height: 990px ;
}

#header {
	position: relative ;
	height: 142px ;
}

#content {
	position: relative ;
}
